h2 Startseite des Adminbereiches.
.adminTableContainer
  table.table.table-bordered.adminTable
    thead
      tr
        th Name
        th Anzahl
    tbody
      tr
        td Kategorien
        td= cCount
      tr
        td Fragen
        td= qCount
      tr
        td Highscores
        td= hCount